{% extends 'layout.html' %}

{% block body %}
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="{{ url_for('details') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- filter card row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-4 mb-3">
                <div class="card border-left-primary shadow">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-1">                          
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">date</div>
                        <input type="date" class="form-control bg-light border-0 small" placeholder="DD/MM/YYYY" aria-label="Search" aria-describedby="basic-addon2">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-4 mb-3">
                <div class="card border-left-success shadow">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-1">                          
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">start time</div>
                        <input type="time" class="form-control bg-light border-0 small" placeholder="HH/MM/SS" aria-label="Search" aria-describedby="basic-addon2">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-4 mb-3">
                <div class="card border-left-info shadow">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-1">                          
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">end time</div>
                        <input type="time" class="form-control bg-light border-0 small" placeholder="HH/MM/SS" aria-label="Search" aria-describedby="basic-addon2">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-4 mb-3">
                <div class="card border-left-warning shadow">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-1">                          
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">live feed</div>
                        <input name="live" type="radio" value="yes" />
                        <label for="live">Yes</label>
                        <input name="live" type="radio" value="no" />
                        <label for="live">No</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <!-- graph Row -->

          <div class="row">

            <!-- graph Chart -->
            <div class="col-xl-7 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- illustration Chart -->
            <div class="col-xl-5 col-lg-6">
              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="static/img/undraw_metrics_gtu7.svg" alt="">
                  </div>
                  <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">
            
            <div class="col-lg-6 mb-4">

              <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-1">
                  <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                </div>
                <div class="card-body">
                  <p>We can use video feed from the Meraki security camera. Typically, these shall come from the actual / imitated site i.e. schools, food serving area etc.</p>
                  <p class="mb-0">We will generate our own database based on the region of interest and features we wish to extract to develop ML models.</p>
                </div>
              </div>

            </div>
        </div>
        <!-- /.container-fluid -->      

      </div>
      <!-- End of Main Content -->
{% endblock %}


